.transaction {
  display: grid;
  grid-template-columns: 2rem 1fr 6rem;
  padding-block: 0.5rem;
  border-radius: var(--border-radius-base);
  padding-inline: 0.5rem;
  cursor: pointer;
  height: 3rem;
}

.transaction:hover {
  background-color: var(--pv-color-opac-b-1);
}

.transaction__description {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
}

.transaction__logo {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
}

.transaction__amount {
  font-size: 0.85rem;
  color: var(--pv-color-dark-gray);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.transaction__date {
  font-size: 0.8rem;
  color: var(--pv-color-dark-gray);
}

.transaction__amount_positive {
  color: var(--pv-color-success);
}
.transaction__amount_negative {
  color: var(--pv-color-danger);
}
