@charset "UTF-8";

@import "../node_modules/pv-wc/dist/themes/light.css" screen and (prefers-color-scheme: light);
@import "../node_modules/pv-wc/dist/themes/dark.css" screen and (prefers-color-scheme: dark);


@font-face {
  font-family: "MartianMonoVF";
  src:
    url("/fonts/MartianMonoVF.woff2") format("woff2"),
    url("/fonts/MartianMonoVF.ttf") format("truetype");
}

@font-face {
  font-family: "ClashGrotesk";
  src:
    url("/fonts/ClashGrotesk-Variable.woff2") format("woff2"),
    url("/fonts/ClashGrotesk-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "MartianGrotesk";
  src:
    url("/fonts/MartianGroteskTRIAL-VFVF.woff2") format("woff2"),
    url("/fonts/MartianGroteskTRIAL-VFVF.ttf") format("truetype");
}

/* @import url('styles-light.css'); Default to light mode */

/* @import url("/node_modules/pv-wc/dist/themes/light.css"); */

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  /* @import url('styles-dark.css');  */
}

:root {
  --font-family: MartianMonoVF;
  font-family: var(--font-family), system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--global-foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: ClashGrotesk;
  font-stretch: 125%;
  font-weight: 900;
}

h2 {
  font-stretch: 100%;
  font-weight: 700;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
}
