.account-head__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-head__brand {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--global-foreground);
  text-decoration: none;
}

.account-head__logo {
  width: 42px;
  height: 42px;
}

.account-head__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.account-head__avatar {
  display: flex;
  align-items: center;
}
